.card {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: .5rem 0;
  div {
    min-width: 320px;
    width: 50%;
  }
}

.text{
  &.red{
    color: red;
  }

  &.green{
    color: green;
  }
  &.blue{
    color: blue;
  }
}
