.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: 3rem auto;
  h1{
    text-align: center;
  }
  .menu{
    display: flex;
    justify-content: space-between;
  }
  nav a{
    margin: 0 0 0 15px;
  }
}
