<div class="container">
  <h1>Start learning Angular </h1>
  <strong>{{ myDate | date: 'short' }}</strong>

  <hr>
  <div class="menu">

    <button (click)="toggleCards()">Toggle cards</button>
    <nav>
      <a href="#">Main</a>
      <a href="#">Not main</a>
    </nav>
  </div>

  <hr>
<!--  <app-button></app-button>-->
  <div *ngIf="toggle; else noCards">
    <app-card
      *ngFor="let itemCard of cards"
      [card]="itemCard"
    ></app-card>
  </div>
  <ng-template #noCards>
    <p>Cards are hidden!</p>
  </ng-template>
</div>
